{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <title>Erro 404</title>

  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}

  <meta name="author" content="Augusto Sérgio, Carlos Eduardo, Daniel Vitor">
  <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.svg" />

  <!-- ----- Início CSS ----- -->
  <link rel="stylesheet" href="{% static '/css/style.css' %}">
  <!-- ----- Fim CSS ----- -->
</head>

<body x-data="{ page: '404', 'darkMode': true, 'stickyMenu': false, 'navigationOpen': false, 'scrollTop': false }"
  x-init="
     darkMode = JSON.parse(localStorage.getItem('darkMode'));
     $watch('darkMode', value => localStorage.setItem('darkMode', JSON.stringify(value)))"
  :class="{'b eh': darkMode === true}">

  <!-- ----- Início Erro 404 ----- -->
  <section class="i pg fh rm ej np er fj op fr">
    <div class="animate_top bb xe rj">
      <img src="{% static 'svg/404.svg' %}" alt="404" class="bb fb" />

      <h2 class="ek tj eo kk wm gb">Parece que este login já está em uso. </h2>
      <p class="hb">Por favor, escolha um login diferente e retorne à página de Cadastro para criar uma nova conta.
      </p>

      <a href="{% url 'cadastro' %}" class="ek vc rg gh lk ml il _l gi hi">Voltar</a>
    </div>
  </section>
  <!-- ----- Fim Erro 404 ----- -->

</body>

</html>