{% load static %}
<!-- footer -->
<footer class="footer">
    <footer class="footer footer-style-4 footer-dark">
        <div class="container">
            <div class="widget-wrapper">
                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="footer-widget">
                            <div class="logo">
                                <a href="#0"> <img src="assets/img/logo/logo.svg" alt=""> </a>
                            </div>
                            <p class="desc">Transformando a jornada da Extensão Universitária em uma experiência digital
                                inovadora e acessível.
                            <ul class="socials">
                                <li> <a href="#0"> <i class="lni lni-facebook-filled"></i> </a> </li>
                                <li> <a href="#0"> <i class="lni lni-twitter-filled"></i> </a> </li>
                                <li> <a href="#0"> <i class="lni lni-instagram-filled"></i> </a> </li>
                                <li> <a href="#0"> <i class="lni lni-linkedin-original"></i> </a> </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 offset-xl-1 col-lg-2 col-md-6 col-sm-6">
                        <div class="footer-widget">
                            <h6>Links relevantes</h6>
                            <ul class="links">
                                <li> <a href="#0">Sobre Nós</a> </li>
                                <li> <a href="#0">Equipes</a> </li>
                                <li> <a href="#0">Projetos</a> </li>
                                <li> <a href="#0">Atividades</a> </li>
                                <li><a href="#0">Contato</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-widget">
                            <h6>Endereço</h6>
                            <ul class="links">
                                <p class="desc">Rua Sampaio, 300
                                    <br>Granbery, Juiz de Fora - MG
                                    <br>CEP 36010-359
                                </p>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h6>Download do Aplicativo</h6>
                            <ul class="download-app">
                                <li>
                                    <a href="#0">
                                        <span class="icon"><i class="lni lni-apple"></i></span>
                                        <span class="text">Baixe na <b>App Store</b> </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0">
                                        <span class="icon"><i class="lni lni-play-store"></i></span>
                                        <span class="text">Baixe na <b>Play Store</b> </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</footer>
<!-- footer -->