{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <title>Logout</title>

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <meta name="author" content="Augusto Sérgio, Carlos Eduardo, Daniel Vitor">
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.svg" />

    <!-- ----- Início CSS ----- -->
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <!-- ----- Fim CSS ----- -->
</head>

<body x-data="{ page: '404', 'darkMode': true, 'stickyMenu': false, 'navigationOpen': false, 'scrollTop': false }"
    x-init="
     darkMode = JSON.parse(localStorage.getItem('darkMode'));
     $watch('darkMode', value => localStorage.setItem('darkMode', JSON.stringify(value)))"
    :class="{'b eh': darkMode === true}">

    <!-- ----- Início Logout ----- -->
    <section class="i pg fh rm ej np er fj op fr">

        <div class="animate_top bb xe rj">

            <h2 class="ek tj eo kk wm gb">Sessão encerrada
            </h2>
            <p class="hb">Até logo!
            </p>

            <a href="{% url 'index' %}" class="ek vc rg gh lk ml il _l gi hi">Voltar a página inicial</a>
        </div>
    </section>
    <!-- ----- Fim Logout ----- -->

</body>

</html>